name: cerm-mcp

services:
  cerm-mcp:
    container_name: cerm-mcp
    build:
      context: ./mcp-server
    ports:
      - "8000:8000"

  m365-mcp:
    container_name: m365-mcp
    build:
      context: ./m365-mcp
    ports:
      - "8400:8400"

  cerm-agent-ui:
    container_name: cerm-agent-ui
    build:
      context: ./gradio-app
    ports:
      - "7860:7860"
    environment:
      - AZURE_OPENAI_ENDPOINT=${AZURE_OPENAI_ENDPOINT}
      - AZURE_OPENAI_API_KEY=${AZURE_OPENAI_API_KEY}
      - OPENAI_API_VERSION=${OPENAI_API_VERSION}
      - AGENT_MCP_URLS=${AGENT_MCP_URLS}
    depends_on:
      - cerm-mcp
      - m365-mcp
