services:
  mcp-server:
    container_name: mcp-server
    build:
      context: ./mcp-server/
      dockerfile: Dockerfile
    ports:
      - "8010:8000"

volumes:
  ollama-data:
  open-webui:
  n8n_data:
  postgres-data:
