# Enhanced Python features
python-dotenv~=1.2.1
pydantic~=2.11.10
pydantic-settings~=2.11.0
rich~=14.2.0

# Providers
gradio~=5.49.1
langchain~=1.0.2
langchain-ollama~=1.0.0
langchain-openai~=1.0.1
pinecone~=7.3.0

# Formatters, linters, type checkers and pre-commit hooks
black~=25.9.0
isort~=7.0.0
flake8~=7.3.0
flake8-pyproject~=1.2.3
mypy~=1.18.2
pre-commit~=4.3.0

# MCP server dependencies
mcp[cli]>=1.2.0
mcpo~=0.0.19
